.blog-container {
    margin: 0 auto;
    padding: 2rem;
}

.blog-header {
    position: relative;
    height: 300px;
}

.blog-header .blog-image {
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.blog-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.blog-header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 999;
}

.rating-star {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.blog-body {
    padding: 2rem;
    text-align: justify;
}

.blog-preview-container {
    display: flex;
    max-width: 30rem;
    max-height: 6rem;
    text-align: justify;
    overflow: hidden;
    cursor: pointer;
}

.blog-preview-container img {
    height: 100px;
    width: 180px;
    margin-right: 1rem;
}

.blog-preview-container h2 {
    font-weight: 700;
    font-size: 17.3481px;
    line-height: 25px;
    color: #020202;
}

.blog-preview-container span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #020202;
}